<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление сотрудниками</title>
    <link rel="stylesheet" th:href="@{/css/employee.css}">
    <script th:src="@{/js/manager-employee.js}"></script>
</head>
<body>
<header>
    <h1>Страница менеджера: Управление сотрудниками</h1>
    <nav>
        <ul>
            <li><a th:href="@{/manager}">Главная</a></li>
            <li><a th:href="@{/flights/all}">Рейсы</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="employee-section">
        <h2>Список сотрудников</h2>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Должность</th>
                <th>Зарплата ($)</th>
                <th>Дата найма</th>
                <th>Дата изменения</th>
                <th>Действия</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <form th:action="@{/manager/employee/edit/{id}(id=${employee.id})}" method="post">
                    <td th:text="${employee.id}"></td>
                    <td><input disabled type="text" name="name" th:value="${employee.name}" required/></td>
                    <td><input disabled type="tel" name="phone" th:value="${employee.phone}" required/></td>
                    <td>
						<select disabled name="position" required>
                            <option th:each="position : ${positions}"
                                    th:value="${position}"
                                    th:text="${position}"
                                    th:selected="${employee.position == position}"></option>
                        </select>
					</td>
                    <td><input disabled type="number" name="salary" th:value="${employee.salary}" required/></td>
                    <td><input disabled type="date" name="hireDate" th:value="${employee.hireDate}" required/></td>
                    <td><p th:text="${employee.modifiedDate}"></p></td>
                    <td>
                        <button type="button" class="btn edit" onclick="enableEdit(this)">Изменить</button>
                        <button type="submit" class="btn save" style="display:none;">Окей</button>
                    </td>
                </form>
                <form th:action="@{/manager/employee/delete/{id}(id=${employee.id})}" method="post">
                    <td>
                        <button type="submit" class="btn delete">Удалить</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        <div class="add-new">
            <h3>Добавить нового сотрудника</h3>
            <form th:action="@{/manager/employee/add}" method="post">
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" placeholder="Введите имя" required>
                </div>

                <div class="form-group">
                    <label for="phone">Телефон:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Введите телефон" required>
                </div>
                
                <div class="form-group">
					<label for="phone">Должность:</label>
					<select name="position" required>
                            <option th:each="position : ${positions}"
                                    th:value="${position}"
                                    th:text="${position}"></option>
                        </select>
				</div>

                <div class="form-group">
                    <label for="salary">Зарплата ($):</label>
                    <input type="number" id="salary" name="salary" placeholder="Введите зарплату" required>
                </div>

                <div class="form-group">
                    <label for="hireDate">Дата найма:</label>
                    <input type="date" id="hireDate" name="hireDate" required>
                </div>

                <button type="submit" class="btn add">Добавить</button>
            </form>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Управление сотрудниками. Все права защищены.</p>
</footer>


</body>
</html>
