<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление типами товаров</title>
    <link rel="stylesheet" th:href="@{/css/good-types.css}">
    <script th:src="@{/js/manager-goodsTypes.js}"></script>
</head>
<body>
<header>
    <h1>Страница менеджера: Управление типами товаров</h1>
    <nav>
        <ul>
            <li><a th:href="@{/manager}">Главная</a></li>
            <li><a th:href="@{/products/all}">Товары</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="product-type-section">
        <h2>Список типов товаров</h2>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Тип товара</th>
                <th>Прибыль (BYN)</th>
                <th>Действия</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goodsType : ${goodsTypes}">
                <form th:action="@{/manager/goodTypes/edit/{id}(id=${goodsType.id})}" method="post">
                    <td th:text="${goodsType.id}"></td>
                    <td><input disabled type="text" name="type" th:value="${goodsType.type}" required/></td>
                    <td><input disabled type="number" step="0.01" name="profit" th:value="${goodsType.profit}" required/></td>
                    <td>
                        <button type="button" class="btn edit" onclick="enableEdit(this)">Изменить</button>
                        <button type="submit" class="btn save" style="display:none;">Окей</button>
                    </td>
                </form>
                <form th:action="@{/manager/goodTypes/delete/{id}(id=${goodsType.id})}" method="post">
                    <td>
                        <button type="submit" class="btn delete">Удалить</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        <div class="add-new">
            <h3>Добавить новый тип товара</h3>
            <form th:action="@{/manager/goodTypes/add}" method="post">
                <div class="form-group">
                    <label for="type">Тип товара:</label>
                    <input type="text" id="type" name="type" placeholder="Введите тип" required>
                </div>

                <div class="form-group">
                    <label for="profit">Прибыль (BYN):</label>
                    <input type="number" id="profit" step="0.01" name="profit" placeholder="Введите прибыль" required>
                </div>

                <button type="submit" class="btn add">Добавить</button>
            </form>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Управление типами товаров. Все права защищены.</p>
</footer>


</body>
</html>
