body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.employee-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.edit {
    background-color: #4CAF50;
}

.delete {
    background-color: #f44336;
}

.add-new {
    margin-top: 40px;
}

.add-new h3 {
    text-align: center;
}

.add-new .form-group {
    margin-bottom: 15px;
}

.add-new label {
    display: block;
    margin-bottom: 5px;
}

.add-new input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.add-new input, 
.add-new select, 
.add-new .form-group input, 
.add-new .form-group select {
    width: 40%; /* Устанавливаем ширину 40% */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Это поможет избежать переполнения контейнера */
}

/* Стили для задизейбленных инпутов и селектов */
input:disabled, select:disabled {
    background-color: #e9ecef; /* Светлый фон для задизейбленных инпутов */
    border: 1px solid #ced4da; /* Лёгкая граница */
    color: #6c757d; /* Приглушённый текст */
    cursor: not-allowed; /* Меняем курсор */
    opacity: 1; /* Чтобы избежать полупрозрачности по умолчанию */
}