<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/add_passenger.css}">
    <script th:src="@{/js/add_passenger.js}"></script>
    <title>Добавление пассажира</title>
</head>
<body>
<!-- Хедер -->
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/flights/list}">Рейсы</a></li>
            <li><a th:href="@{/contact}">Связаться с нами</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
            <li sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/manager}">Страница менеджера</a>
            </li>
        </ul>
        <div class="icons">
            <div class="profile-container" onclick="toggleProfileMenu()">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/user.png}" alt="Профиль" width="40" height="40"/>
                </a>
                <div id="profileMenu" class="profile-menu">
                    <span th:if="${currentUser  != null}" th:text="${currentUser .username}">Имя пользователя</span>
                    <a th:if="${currentUser  != null}" th:href="@{/profile}">Посмотреть профиль</a>
                    <a th:if="${currentUser  != null}" th:href="@{/orders}">Мои заказы</a>
                    <a th:if="${currentUser  == null}" th:href="@{/auth/sign-in}">Войти</a>
                    <a th:if="${currentUser  != null}" th:href="@{/logout}">Выйти</a>
                </div>
            </div>
            <a th:href="@{/cart}">
                <img th:src="@{/images/basket.png}" alt="Корзина" width="40" height="40"/>
            </a>
        </div>
    </nav>
</header>

<!-- Основное содержание -->
<main>
    <section class="form-container">
        <h1>Добавить пассажира</h1>
        <form th:action="@{/passenger/add/{flightId}(flightId=${flightId})}" method="POST">
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" id="firstName" name="firstName" class="form-control" required pattern="[A-ZА-Я][a-zа-я]*" 
                       title="Имя должно начинаться с заглавной буквы и содержать только буквы."/>
            </div>

            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" id="lastName" name="lastName" class="form-control" required pattern="[A-ZА-Я][a-zа-я]*" 
                       title="Фамилия должна начинаться с заглавной буквы и содержать только буквы."/>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" required title="Введите корректный email."/>
            </div>

            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input type="tel" id="phone" name="phone" class="form-control" required pattern="\d{12}" 
                       title="Номер телефона должен содержать только 12 цифр."/>
            </div>

            <div class="form-group">
                <label for="passportNumber">Номер паспорта</label>
                <input type="text" id="passportNumber" name="passport" class="form-control" required pattern="\w{2}\d{7}" 
                       title="Номер паспорта должен состоять из 2 букв и 7 цифр."/>
            </div>

            <button type="submit" class="btn">Добавить пассажира</button>
        </form>
    </section>
</main>

<!-- Футер -->
<footer>
    <p>&copy; 2024 Авиакомпания. Все права защищены.</p>
    <ul>
        <li><a th:href="@{/terms}">Условия использования</a></li>
        <li><a th:href="@{/privacy}">Политика конфиденциальности</a></li>
    </ul>
</footer>

</body>
</html>