<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/flights_list.css}">
    <script th:src="@{/js/flights_list.js}"></script>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/flights/list}">Рейсы</a></li>
            <li><a th:href="@{/contact}">Связаться с нами</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
        </ul>
        <div class="icons">
            <div class="profile-container" onclick="toggleProfileMenu()">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/user.png}" alt="Профиль" width="40" height="40"/>
                </a>
                <div id="profileMenu" class="profile-menu">
                    <span th:if="${currentUser  != null}" th:text="${currentUser .username}">Имя пользователя</span> <!-- Имя текущего пользователя -->
                    <a th:if="${currentUser  != null}" th:href="@{/profile}">Посмотреть профиль</a>
                    <a th:if="${currentUser  != null}" th:href="@{/orders}">Мои заказы</a>
                    <a th:if="${currentUser  == null}" th:href="@{/auth/sign-in}">Войти</a> <!-- Ссылка на логин, если пользователь не вошел -->
                    <a th:if="${currentUser  != null}" th:href="@{/logout}">Выйти</a> <!-- Ссылка на выход, если пользователь вошел -->
                </div>
            </div>
            <a th:href="@{/cart}">
                <img th:src="@{/images/basket.png}" alt="Корзина" width="40" height="40"/>
            </a>
        </div>
    </nav>
</header>

<div class="container">
    <h1>Расписание рейсов</h1>

    <table>
        <thead>
        <tr>
            <th>Аэропорт отправления</th>
            <th>Аэропорт прибытия</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Время в пути</th>
            <th>Стоимость (BYN)</th>
            <th>Заказать</th>
        </tr>
        </thead>
		<tbody>
		    <!-- Loop through flight list -->
		    <tr th:each="flight : ${flights}">
		        <td th:text="${airportMap[flight.departureAirport].city} + ' - ' + ${airportMap[flight.departureAirport].name}">Аэропорт отправления</td>
		        <td th:text="${airportMap[flight.arrivalAirport].city} + ' - ' + ${airportMap[flight.arrivalAirport].name}">Аэропорт прибытия</td>
		        <td th:text="${flight.departureTime}">Время отправления</td>
		        <td th:text="${flight.arrivalTime}">Время прибытия</td>
		        <td th:text="${flight.flightDuration}">Время в пути</td>
		        <td th:text="${flight.cost}">Стоимость</td>
		        <td><a class="btn" href="/booking">Заказать</a></td>
		    </tr>
		</tbody>
    </table>

    
</div>

<!-- Футер -->
<footer>
    <p>&copy; 2024 Авиакомпания. Все права защищены.</p>
    <ul>
        <li><a th:href="@{/terms}">Условия использования</a></li>
        <li><a th:href="@{/privacy}">Политика конфиденциальности</a></li>
    </ul>
</footer>

</body>
</html>
