<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
    <title>Авиакомпания</title>
</head>
<body>
<!-- Хедер -->
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/flights/list}">Рейсы</a></li>
            <li><a th:href="@{/contact}">Связаться с нами</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
            <li sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/manager}">Страница менеджера</a>
            </li>
        </ul>
        <div class="icons">
            <div class="profile-container" onclick="toggleProfileMenu()">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/user.png}" alt="Профиль" width="40" height="40"/>
                </a>
                <div id="profileMenu" class="profile-menu">
                    <span th:if="${currentUser  != null}" th:text="${currentUser .username}">Имя пользователя</span> <!-- Имя текущего пользователя -->
                    <a th:if="${currentUser  != null}" th:href="@{/profile}">Посмотреть профиль</a>
                    <a th:if="${currentUser  != null}" th:href="@{/orders}">Мои заказы</a>
                    <a th:if="${currentUser  == null}" th:href="@{/auth/sign-in}">Войти</a> <!-- Ссылка на логин, если пользователь не вошел -->
                    <a th:if="${currentUser  != null}" th:href="@{/logout}">Выйти</a> <!-- Ссылка на выход, если пользователь вошел -->
                </div>
            </div>
            <a th:href="@{/cart}">
                <img th:src="@{/images/basket.png}" alt="Корзина" width="40" height="40"/>
            </a>
        </div>
    </nav>
</header>

<!-- Основное содержание -->
<main>
    <section class="hero">
        <h1>Добро пожаловать в нашу авиакомпанию</h1>
        <p>Ваше путешествие начинается здесь. Исследуйте наши рейсы и найдите лучшие предложения уже сегодня!</p>
        <div class="form-container">
            <h2>Поиск рейсов</h2>
			<form th:action="@{/search}" method="GET">
			    <div class="form-group">
			        <label for="from">Откуда</label>
			        <input required type="text" id="from" name="departureCity" class="form-control" placeholder="Введите город отправления" onkeyup="fetchCities('from')">
			        <ul id="fromSuggestions" class="suggestions"></ul> <!-- Список для подсказок -->
			    </div>
			    
			    <div class="form-group">
			        <label for="to">Куда</label>
			        <input required type="text" id="to" name="destinationCity" class="form-control" placeholder="Введите город назначения" onkeyup="fetchCities('to')">
			        <ul id="toSuggestions" class="suggestions"></ul> <!-- Список для подсказок -->
			    </div>

			    <div class="form-group">
			        <label for="passengers">Количество пассажиров</label>
			        <input type="number" id="passengers" name="passengerCount" class="form-control" min="1" placeholder="1">
			    </div>

			    <button type="submit" class="btn">Найти рейс</button>
			</form>
        </div>

    </section>

</main>

<!-- Футер -->
<footer>
    <p>&copy; 2024 Авиакомпания. Все права защищены.</p>
    <ul>
        <li><a th:href="@{/terms}">Условия использования</a></li>
        <li><a th:href="@{/privacy}">Политика конфиденциальности</a></li>
    </ul>
</footer>
</body>
</html>
